/* Theme */

main {
	background: #303F9F;
	color: #FAFAFA;
}

.icons-social a {
	color: #FAFAFA;
}

.icons-social a svg path{
	fill: #FAFAFA;
}

/* unvisited link */
a:link {
	color: red;
  }
  
  /* visited link */
  a:visited {
	color: green;
  }
  
  /* mouse over link */
  a:hover {
	color: hotpink;
  }
  
  /* selected link */
  a:active {
	color: yellow;
  }